<%- include header %>
<% posts.forEach(function(post, index) { %>
    <h2>
        <a href="#"><%= post.title %></a>
    </h2>
    <%if (post.tags) { %> 
	    <div class="tags">
		 标签：
		  <% post.tags.forEach(function (tag, index) { %>
		    <% if (tag) { %>
		      <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
		    <% } %>
		  <% }) %>
	    </div>
	<% } %>

    <div class="info">
        <p>日期:<a href="#"><%= post.time.minute %></a></p>
        <p><%- post.content %></p>
        <p class="comments">阅读:<%= post.pv %>| 评论：<%= post.comments.length %></p>
    </div>
<% }) %>
<%- include paging %>
<%- include footer %>